html {
	font-size: 35px;
}

body {
	padding: 0 0.125rem 0 0;
	background-color: #f6f6f6;
}

header {
	width: calc(100% - 2rem);
	position: fixed;
	top: 0px;
	left: 0px;
	border-bottom: 1px gainsboro solid;
	height: 2rem;
	box-shadow: 0px 1px 4px #D3D3D3;
	z-index: 100;
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	background: #e53935;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #e35d5b, #e53935);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #e35d5b, #e53935); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header div:nth-child(2){
	font-weight: bold;
	font-size: 1.2rem;
}

main {
	max-width: 50rem;
	margin: 3.5rem auto 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}


button,
input,
select {
	outline: none;
}

li,
ul,
span {
	list-style: none;
	padding: 0;
	margin: 0;
}

footer {
	height: 3rem;
	width: calc(100% - 2rem);
	position: fixed;
	left: 1rem;
	bottom: 1rem;
	border-radius: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: bold;
	font-size: 1rem;
}

footer .wrap {
	width: max-content;
	max-width: 50rem;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 0 auto;
	padding: 0.5rem 0.5rem;
	border-radius: 0.25rem;
	background-color: #FFF7E7;
	box-shadow: 0 2px 5px #DCDCDC;
}

footer .wrap .footer_section {
	padding: 0 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer .wrap .footer_search_bar {
	font-size: 1rem;
	padding: 0.6rem 0.8rem;
	border-radius: 0.25rem;
	border: 0.1rem solid #e53935;
	background-color: #f2f2f2;
	color: black;
	--placeholder-color: gray;
	margin-right: 0.2rem;
}

footer .wrap .footer_btn {
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	cursor: pointer;
	color: #e35d5b;
	font-weight: bold;
	background-color: white;
	border: #e35d5b 0.1rem solid;
}

input::-webkit-input-placeholder {
	color: var(--placeholder-color);
}

input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: var(--placeholder-color);
}

input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: var(--placeholder-color);
}

input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: var(--placeholder-color);
}

.footer_placeholder {
	height: 4.5rem;
}

.tag {
	font-size: 0.7rem;
	color: white;
	font-weight: bolder;
	border-radius: 4px;
	padding: 0.2rem 0.2rem;
	width: max-content;
	display: inline;
}

.btn-default {
	padding: 0.5rem 1rem;
	margin-right: 0.5rem;
	border-radius: 0.25rem;
	border: 1px solid;
	color: white;
	font-weight: bold;
	cursor: pointer;
	font-size: 1rem;
	
}

.btn-default:hover {
	opacity: 0.7;
	transition: opacity 0.3s;
}

.btn-style-orange {
	background-color: orangered;
	border-color: orangered;
	color: white;
}

.btn-style-green {
	background-color: green;
	border-color: green;
	color: white;
}

.btn-style-wheat {
	background-color: wheat;
	border-color: navajowhite;
	color: #444444;
}

.btn-style-white-green {
	background-color: white;
	border-color: green;
	color: green;
}

.btn-style-orange {
	background-color: white;
	border-color: orangered;
	color: orangered;
}

.animation-fadein-top {
	opacity: 0;
	animation: fadein 0.3s;
	-moz-animation: fadein 0.3s;
	-webkit-animation: fadein 0.3s;
	-o-animation: fadein 0.3s;
	animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
}

.delay_02s {
	animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
}

.delay_04s {
	animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
}

.delay_06s {
	animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
	-o-animation-delay: 0.6s;
}

@keyframes fadein {
	from {
		position: relative;
		top: -1.25rem;
		opacity: 0;
	}

	to {
		position: relative;
		top: 0;
		opacity: 1;
	}
}

.flex_between{
	display: flex;
	align-items: center;
	justify-content: space-between;
}