html {
	font-size: 35px;
}

body {
	padding: 0 0.125rem 0 0;
	background-color: #f6f6f6;
}

header {
	width: calc(100% - 2rem);
	background-color: white;
	position: fixed;
	top: 0px;
	left: 0px;
	border-bottom: 1px gainsboro solid;
	height: 3rem;
	box-shadow: 0px 1px 4px #D3D3D3;
	z-index: 100;
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	margin-top: 4.5rem;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}


button,
input,
select {
	outline: none;
}

li,
ul,
span {
	list-style: none;
	padding: 0;
	margin: 0;
}

footer {
	height: 3rem;
	width: calc(100% - 3rem);
	padding: 0.5rem 0.5rem;
	background-color: white;
	position: fixed;
	left: 1rem;
	bottom: 1rem;
	border-radius: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 2px 6px lightslategrey;
	color: mediumvioletred;
	font-weight: bold;
	font-size: 1rem;
}

.footer_section {
	padding: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer_search_bar {
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	border: 2px solid mediumvioletred;
	background-color: #f2f2f2;
	color: white;
	--placeholder-color: gray;
	margin-right: 0.2rem;
}

.footer_btn {
	padding: 0.4rem 0.7rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	cursor: pointer;
	color: mediumvioletred;
	background-color: white;
	border: mediumvioletred 2px solid;
}

input::-webkit-input-placeholder {
	color: var(--placeholder-color);
}

input::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: var(--placeholder-color);
}

input:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: var(--placeholder-color);
}

input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: var(--placeholder-color);
}

.footer_placeholder {
	height: 5rem;
}

.tag {
	font-size: 0.7rem;
	color: white;
	font-weight: bolder;
	border-radius: 4px;
	padding: 0.2rem 0.2rem;
	width: max-content;
	display: inline;
}

.btn-default {
	padding: 0.3125rem 1rem;
	margin-right: 0.5rem;
	border-radius: 0.125rem;
	border: 1px solid;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.btn-default:hover {
	opacity: 0.7;
	transition: opacity 0.3s;
}

.btn-style-orange {
	background-color: orangered;
	border-color: orangered;
	color: white;
}

.btn-style-green {
	background-color: green;
	border-color: green;
	color: white;
}

.btn-style-wheat {
	background-color: wheat;
	border-color: navajowhite;
	color: #444444;
}

.btn-style-white-green {
	background-color: white;
	border-color: green;
	color: green;
}

.btn-style-orange {
	background-color: white;
	border-color: orangered;
	color: orangered;
}

.flex {
	display: flex;
	justify-content: center;
	justify-content: center;
}
