html{
	font-size: 35px;
}


body{
	padding: 0 0.125rem;
	background-color: #f6f6f6;
}

header{
	width: 100%;
	background-color: white;
	position: fixed;
	top: 0px;
	left: 0px;
	border-bottom: 1px gainsboro solid;
	height: 3rem;
	box-shadow: 0px 1px 4px #D3D3D3;
	z-index: 100;
	padding: 0.5rem 1rem;
}

main{
	margin-top: 4.5rem;
}

h1, h2, h3, h4, h5{
	margin: 0;
}


button,input,select{
	outline: none;
}

li, ul, span{
	list-style: none;
	padding: 0;
	margin: 0;
}


.tag{
	font-size: 0.7rem;
	color: white;
	font-weight: bolder;
	border-radius: 4px;
	padding: 0.2rem 0.2rem;
	width: max-content;
	display: inline;
}


.btn-default {
	padding: 0.3125rem 1rem;
	margin-right: 0.5rem;
	border-radius: 0.125rem;
	border: 1px solid;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.btn-default:hover {
	opacity: 0.7;
	transition: opacity 0.3s;
}

.btn-style-orange {
	background-color: orangered;
	border-color: orangered;
	color: white;
}

.btn-style-green {
	background-color: green;
	border-color: green;
	color: white;
}

.btn-style-wheat {
	background-color: wheat;
	border-color: navajowhite;
	color: #444444;
}

.btn-style-white-green {
	background-color: white;
	border-color: green;
	color: green;
}


.btn-style-orange {
	background-color: white;
	border-color: orangered;
	color: orangered;
}

.flex{
	display: flex;
	justify-content: center;
	justify-content: center;
}