.product_list_box{
	width: 100%
}

.product_list_box ul li{
	width: calc(100% - 1.6rem);
	padding: 0.8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 1px 4px lightblue;
	border-radius: 0.3rem;
	margin-bottom: 0.4rem;
	background-color: white;
}

.product_list_box ul li .basic_info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.product_list_box ul li .basic_info .spec{
	display:inline;
	font-size: 0.7rem;
	color: #5F9EA0;
}

.product_list_box ul li .basic_info .name{
	font-size: 1rem;
	margin-left: 0.4rem;
	font-weight: bold;
	color:mediumvioletred;
}

.product_list_box ul li .details{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 0.5rem;
}

.product_list_box ul li .details div{
	font-size: 0.8rem;
	margin-right: 1.5rem;
	color: slategrey;
}

.product_list_box ul li .details div span{
	font-size: 1rem;
	color: black;
}




